@using podaci.EntityModels
@model StudentPrikazVM

@{
    ViewData["Title"] = "Prikaz";
    //var studenti = (List<Student>)ViewData["studenti"];
    //var search = ViewData["search"];
    StudentPrikazVM m = Model;

}

<h1>Prikaz</h1>
<a href="/Student/Dodaj" type="button" class="btn btn-primary">Dodaj</a>
<form>
    <input name="search" value="@m.search" />
    <input type="submit" value="Trazi" />
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>OpstinaPrebivalista</th>
            <th>OpstinaRodjenja</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student s in m.studenti)
        {
            <tr>
                <td>@s.ID</td>
                <td>@s.Ime</td>
                <td>@s.Prezime</td>
                <td>@(s.OpstinaPrebivalista.Naziv)</td>
                <td>@(s.OpstinaRodjenja.Naziv)</td>
                <td>
                    <a href="/Student/Uredi?StudentID=@s.ID">Uredi</a>
                    <a href="/Student/Obrisi?StudentID=@s.ID">Obrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>



