@using Vjezba21102020.EF
@using Vjezba21102020.EntityModels
@model StudentPrikazVM

@{
    ViewData["Title"] = "Prikaz";
    //var studenti = (List<Student>)ViewData["studenti"];
    //var search = ViewData["search"];
    //StudentPrikazVM m = Model;
}

<h1>Prikaz</h1>
<a href="/Student/Dodaj" type="button" class="btn btn-primary">Dodaj</a>
<form>
    <input name="search" value="@Model.search"/>
    <input type="submit" value="Trazi" />
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>OpstinaPrebivalista</th>
            <th>OpstinaRodjenja</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StudentPrikazVM.Row s in Model.studenti)
        {
        <tr>
            <td>@s.ID</td>
            <td>@s.Ime</td>
            <td>@s.Prezime</td>
            <td>@s.OpstinaPrebivalista</td>
            <td>@s.OpstinaRodjenja</td>
            <td>
                <a href="/Student/Uredi?StudentID=@s.ID">Uredi</a>
                <a href="/Student/Obrisi?StudentID=@s.ID">Obrisi</a>
                <a class="btn-primary" onclick="PrikaziDetalje(@s.ID)">Detalji</a>
                <a class="btn-primary" onclick="PrisustvoNaNastavi(@s.ID)">Prisustvo</a>

                @*<button onclick="PrikaziDetalje(@s.ID)">Detalji</button>*@

            </td>
        </tr>
        }
    </tbody>
</table>
<div id="ajaxPrikaz" style="border:1px solid red">
    Test
</div>
<script>
    function PrikaziDetalje(StudentID)
    {
        var zahtjev = new XMLHttpRequest();
        var url = "/StudentOcjene/Prikaz?StudentID=" + StudentID;
         zahtjev.onload = function ()
        {
             if (zahtjev.status === 200)
                 document.getElementById("ajaxPrikaz").innerHTML = zahtjev.responseText;
            else {}
        }
        zahtjev.open("GET", url, true);
        zahtjev.send();
    }

    function PrisustvoNaNastavi(StudentID)
    {
        var url = "/Student/PrisustvoNaNastavi?StudentID=" + StudentID;
        $.get(url, function (d) {
            $("#ajaxPrikaz").html(d);
        })
    }

    function OtvoriFormuUredi(OcjenaID) {
        var url = "/StudentOcjene/Uredi?OcjenaID=" + OcjenaID;
        $.get(url, function (d) {
            $("#ajaxPrikaz").html(d);
        })
    }
</script>


