@using Vjezba21102020.EntityModels
@{
    ViewData["Title"] = "Prikaz";
    var studenti = (List<Student>)ViewData["studenti"];
    var search = ViewData["search"];
}

<h1>Prikaz</h1>
<button type="button" onclick="window.Location='/Student/Dodaj'" class="btn btn-primary">Primary</button>
<form>
    <input name="search" value="@search"/>
    <input type="submit" value="Trazi" />
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>OpstinaPrebivalista</th>
            <th>OpstinaRodjenja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student s in studenti)
        {
        <tr>
            <td>@s.ID</td>
            <td>@s.Ime</td>
            <td>@s.Prezime</td>
            <td>@(s.OpstinaPrebivalista.Naziv)</td>
            <td>@(s.OpstinaRodjenja.Naziv)</td>
        </tr>
        }
    </tbody>
</table>



